* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* background-color: #272727; */
    /* padding: 10 10px; */
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../images/backgroundMovies.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    width: 20%;
}

img {
    width: 120px;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.logo {
    display: flex;
    margin-left: 3%;
}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #5c1212;
    text-align: center;
    text-transform: uppercase;
}

.wrapper .form {
    width: 100%;
}

.wrapper .form .input_fild {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .input_fild label {
    width: 200px;
    color: gray;
    margin-right: 10px;
    font-size: 14px;
}

#textArea {
    resize: none;
    height: 120px;
}

.wrapper .form .input_fild .input,
.wrapper .form .input_fild .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

select {
    border: 1px solid gray;
    height: 100%;
    width: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    outline: none;
}

select::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    border: 8px solid;
    border-color: red;
}

.wrapper .form .input_fild .input:focus {
    border: 1px solid rgb(136, 44, 33)
}

.wrapper .form .input_fild .check {
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    font-size: 14px;
    color: red;
}

input {
    border-radius: 5px;
    border: 1px solid gray;
    height: 10%;
    width: 13%;
    margin-top: 10px;
}

input:hover {
    border-color: #761313;
    color: #761313;
}